html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(167, 214, 89);
}

.square-list {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.square {
  flex: 0 0 auto;
  width: 50px;
  height: 100%;
  background-color: rgb(134, 190, 64);
  position: relative;
  animation: square-animate 3s linear 0ms infinite alternate backwards;
  transform: skewX(-15deg);
}

.mask {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
}

.mask-top {
  top: 0;
}

.mask-bottom {
  bottom: 0;
  background-color: rgb(238, 0, 255);
  opacity: 0.7;
}

@keyframes square-animate {
  0% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 55%, 0% 50%);
  }
  25% {
    clip-path: polygon(50% 30%, 100% 50%, 50% 70%, 0% 50%);
  }
  50% {
    clip-path: polygon(50% 45%, 100% 50%, 50% 100%, 0% 50%);
  }
  75% {
    clip-path: polygon(50% 30%, 100% 50%, 50% 70%, 0% 50%);
  }
  100% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 55%, 0% 50%);
  }
}
